* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: linear-gradient(75deg, rgb(255, 0, 225), rgb(246, 255, 0));
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  backdrop-filter: blur(13px) saturate(180%);
  -webkit-backdrop-filter: blur(13px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.443);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 38%;
  height: 500px;

  .contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    h1 {
      font-size: 2.5rem;
      color: white;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.647);
      margin-top: 100px;
    }

    .presentacion {
      padding: 30px;
      margin-bottom: 20px;
      .imagen {
        width: 320px;
        filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.426));
        transition: 500ms;

        &:hover {
          transform: rotate(-25deg);
          scale: 1.2;
        }
      }
    }

    .size {
      display: flex;
      gap: 15px;
      font-size: 1.1rem;
      color: white;
      text-shadow: 0 0 4px rgba(0, 0, 0.2);
      justify-content: center;
      align-items: center;
      margin-top: calc(-20px);

      button {
        border: none;
        font-size: 1.3rem;
        padding: 10px;
        border-radius: 7px;
        font-weight: 600;
        color: rgb(8, 84, 8);
        cursor: pointer;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.34);
        transition: 500ms;

        &:hover {
          margin-top: calc(-30px);
        }
      }
    }

    .btn {
      border: none;
      font-weight: 500;
      font-size: 1.5rem;
      width: 180px;
      height: 50px;
      border-radius: 30px;
      margin-top: 60px;
      cursor: pointer;
      transition: 500ms;

      &:hover {
        scale: 1.1;
      }
    }
  }

  .card-card {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    gap: 10px;

    .card {
      backdrop-filter: blur(13px) saturate(180%);
      -webkit-backdrop-filter: blur(13px) saturate(180%);
      background-color: rgba(207, 195, 195, 0.396);
      border-radius: 12px;
      border: 1px solid rgba(255, 255, 255, 0.125);
      margin-left: calc(-100px);
      margin-top: 20px;
      cursor: pointer;
      padding: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.256);

      img {
        width: 150px;
        transition: 500ms;

        &:hover {
          transform: rotate(-25deg);
        }
      }
    }
  }
}
