* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: rgb(35, 35, 35);
  width: 100%;
  height: 100vh;
}
/*nav*/
.header {
  width: 100%;
  position: fixed;
  background-color: rgb(11, 10, 10);
  padding-left: 80px;
  z-index: 100;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;

    .barra-busqueda {
      display: flex;
      align-items: center;
      i {
        color: white;
        margin-left: calc(-30px);
        cursor: pointer;
      }

      input {
        background-color: transparent;
        border: 1px solid white;
        padding: 10px;
        border-radius: 10px;
        width: 250px;
        color: white;

        &:focus {
          color: white;
        }
      }
    }

    img {
      width: 52px;
      height: 52px;
      border-radius: 50%;
      margin-right: 20px;
    }
  }
}

/*sindebar*/
.sindebar {
  color: #fff;
  position: fixed;
  display: inline-flex;
  flex-direction: column;
  text-align: left;
  height: 100vh;
  background-color: rgb(11, 10, 10);
  width: 60px;
  overflow: hidden;
  transition: 500ms;
  z-index: 101;
  box-shadow: 0 0 5px rgb(0, 0, 0);

  h3 {
    font-size: 1.5rem;
    margin: 25px 10px;
    visibility: hidden;
  }

  .logo {
    font-size: 1.6rem;
    margin-bottom: 10px;
    display: flex;
    cursor: pointer;

    &:hover {
      color: rgb(0, 255, 166);
    }

    i {
      margin: 15px;
    }

    span {
      visibility: hidden;
      margin: 15px;
    }
  }

  li {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 1.2rem;
    list-style: none;
    cursor: pointer;
    overflow: hidden;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 5px;
  }

  .notification,
  .save,
  .explore,
  .menu,
  .home,
  .messages {
    display: flex;
    align-items: center;
    gap: 10px;

    i {
      margin: 0 15px;
    }

    span {
      visibility: hidden;
    }

    img {
      transition: 400ms;
      visibility: hidden;
    }

    &:hover {
      color: rgb(0, 255, 166);
    }
  }

  .cerrar-seccion {
    display: flex;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    cursor: pointer;

    i {
      margin: 0 20px;
    }

    span {
      width: 150px;
      font-size: 1.2rem;
      visibility: hidden;
    }
  }

  .lista-2 {
    transition: 500ms;
    margin-top: 5px;
    margin-left: 22px;
    padding-left: 25px;
    border-left: 1px solid rgb(0, 255, 115);
    height: 0;

    span {
      margin-left: 30px;
    }
  }

  .arrow {
    img {
      transform: rotate(-180deg);
    }
  }
}

.show-sindebar {
  width: 200px;
  .logo {
    span {
      visibility: visible;
    }
  }
  h3 {
    visibility: visible;
  }

  .notification,
  .save,
  .explore,
  .menu,
  .home,
  .messages {
    display: flex;
    align-items: center;
    gap: 10px;

    i {
      margin: 0 15px;
    }

    span {
      visibility: visible;
    }

    img {
      transition: 400ms;
      visibility: visible;
    }
  }

  .cerrar-seccion {
    span {
      visibility: visible;
    }
  }
}

main {
  background-color: #312e2e;
  width: 100%;
  height: 100%;
  padding-top: 80px;
  padding-left: 80px;
  color: #9f9f9f;
}
